<div class="p-5 flex gap-4 border-b border-black/4 last:border-0">
    <img src="{{ event.image }}"
         alt=""
         class="w-32 h-24 rounded-xl object-cover shrink-0">

    <div class="flex-1 space-y-1">
        <h3 class="text-[15px] font-medium text-black">
            {{ event.title }}
            {% if event.isPublished == false %}
                <span class="bg-yellow-200/90 backdrop-blur px-3 py-1 text-xs font-semibold rounded-full">Draft</span>
            {% endif %}
        </h3>

        <p class="text-sm text-black/40">
            {{ event.date|date('d.m.Y H:i') }}
        </p>

        <div class="flex gap-2 mt-2">
            <a href="{{ path('app_dashboard_events_edit', { slug: event.slug }) }}"
               class="text-xs text-black/60 hover:underline">
                Edit
            </a>

            {% if event.isPublished == false %}
                <a href="{{ path('app_dashboard_events_publish', { slug: event.slug }) }}"
                   class="text-xs text-green-500 hover:underline">
                    Publish
                </a>
            {% endif %}

            <a href="{#{ path('event_delete', { id: event.id }) }#}"
               class="text-xs text-red-500 hover:underline">
                Delete
            </a>
        </div>
    </div>
</div>
