{% extends 'base.html.twig' %}

{% block title %}{{ user.getUsername() }}{% endblock %}

{% block body %}
    <h1>{{ user.getUsername() }}</h1>

    <table>
        <tr>
            <th>Username</th>
            <td>{{ user.getUsername()|title }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.getEmail() }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.getPassword() }}</td>
        </tr>
    </table>
{% endblock %}
